/* ./src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "flowbite"; */

.mylogo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.bg-menu {
  background-color: #1a56db;
}

.sidebar-text:hover {
  color: black !important;
}

body {
  background-color: #f4f7ffc2;
}

.mt-15 {
  margin-top: 3rem;
}

.menu-top-right {
  border-top-right-radius: 21px;
}


.max-w-md-modal {
  max-width: 70rem;
}